.showplace__remove {
        min-width: 22px;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-image: url('../img/showplace-remove.svg');
        background-color: initial;
        width: 18px;
        height: 19px;
        position: absolute;
        top: 20px;
        right: 20px;
}
    
.showplace__remove:hover {
        cursor: pointer;
        opacity: .5;
}
