.profile__name {
    font-weight: 500;
    font-size: 27px;
    margin: 0;
    line-height: 122%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 1024px) {
    .profile__name  {
        font-size: 42px;
        line-height: 114%;
    }
}