.popup__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 122%;
    margin: 0 auto 75px auto;
    color: #000;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .popup__title  {
        font-size: 24px;
        margin-bottom: 47px;
    }
}