.profile__edit {
    padding: 8px;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 2px;
    background-image: url('../img/profile-edit.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    background-size: 8px;
    position: absolute;
    top: 7px;
    right: -28px;
}

.profile__edit:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (min-width: 1024px) {
    .profile__edit {
        margin-left: 19px;
        margin-top: 5px;
        padding: 11px;
        background-size: 10px;
        position: initial;
    }
}