.showplace__image {
    max-width: 282px;
    height: 282px;
    width: 100%;
    object-position: center;
    object-fit: cover;
    background-color: #000;
}

.showplace__image:hover {
    cursor: pointer;
}